<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>Supacode</string>
	<key>CFBundleName</key>
	<string>Supacode</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>A program running within Supacode would like to use AppleScript.</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>A program running within Supacode would like to access your system's audio.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>A program running within Supacode would like to use Bluetooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>A program running within Supacode would like to access your Calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>A program running within Supacode would like to use the camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>A program running within Supacode would like to access your Contacts.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>A program running within Supacode would like to access the local network.</string>
	<key>NSLocationUsageDescription</key>
	<string>A program running within Supacode would like to access your location information.</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>TemporaryLocationAccess</key>
		<string>A program running within Supacode would like to use your location temporarily.</string>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>A program running within Supacode would like to use your microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>A program running within Supacode would like to access motion data.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>A program running within Supacode would like to access your Photo Library.</string>
	<key>NSRemindersUsageDescription</key>
	<string>A program running within Supacode would like to access your reminders.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>A program running within Supacode would like to use speech recognition.</string>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>A program running within Supacode requires elevated privileges.</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>PostHogAPIKey</key>
	<string>$(POSTHOG_API_KEY)</string>
	<key>PostHogHost</key>
	<string>$(POSTHOG_HOST)</string>
	<key>SentryDSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>SUFeedURL</key>
    <string>https://supacode.sh/download/latest/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>eBdTbl+6sR8gxO1zyzyvdQHuJrXMLxD31oCc+JoW5jo=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>sh.supacode.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>supacode</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>sh.supacode.ghosttySurfaceId</string>
			<key>UTTypeDescription</key>
			<string>Supacode Ghostty Surface Identifier</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>sh.supacode.tabId</string>
			<key>UTTypeDescription</key>
			<string>Supacode Tab Identifier</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
